@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 20% 99%;
    --foreground: 220 26% 14%;
    --card: 0 0% 100%;
    --card-foreground: 220 26% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 26% 14%;
    --primary: 189 94% 37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 84 81% 44%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 20% 98%;
    --muted-foreground: 220 9% 46%;
    --accent: 27 97% 61%;
    --accent-foreground: 220 26% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 189 94% 37%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
